/*
Estilos principales
*/

@font-face {
    font-family: maquina_escribir;
    src: url('fonts/TravelingTypewriter.ttf');
}

body {
    font-family: Lato;
    background-color: black;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}
